@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://www.w3.org/TR/webauthn-2/" target="_blank">WebAuthn spec</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
